.Detail__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.Detail__image img {
    width: 300px;
}

.Detail__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Detail__footer {
    text-align: center;
}