.welcome-wrapper {
    background-image: url(https://cdn.shopify.com/s/files/1/0274/5001/5849/files/Slider-3.jpg?v=1571045841);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.title-welcome {
    color: #2D6D59;
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 15px;
    padding-left: 30px;
    text-transform: capitalize;
}

.title-secondary {
    font-size: 40px;
    line-height: 40px;
    padding-left: 30px;
    text-transform: capitalize;
}

.description {
    padding-left: 30px;
    width: 56%;
}

.btn-shop {
    margin-top: 30px;
    cursor: pointer;
    margin-left: 30px;
    padding: 10px;
    background-color:  #2D6D59;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    font-size: 16px;
}