@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.navigation-wrapper {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #418880;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    font-weight: bold;
    background-color: rgba(133, 160, 175, 0);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 9999999998;
    font-size: 12.7px;
}

.container-wide {
    position: static;
    z-index: 9999999;
    display: flex;
    max-width: 1270px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
}

.img {
    width: 80px;
}

li {
    list-style: none;
    padding: 0 20px;
    cursor: pointer;
}

li:first-child {
    padding: 0;
}

.img-cart {
    width: 50px;
}