@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.Nav {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #418880;
    box-shadow: 0px 1px 20px rgb(0 0 0 / 45%);
    font-weight: bold;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 9999999998;
    font-size: 12.7px;
    background-color: #FAFAFA;

    &__container {
        position: static;
        z-index: 9999999;
        display: flex;
        max-width: 1270px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 30px;
        padding-left: 30px;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 55%;
    }

    &__icon {
        width: 60px;
    }

    &__right {
        justify-content: space-between;
    }
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    padding: 0 20px;
    cursor: pointer;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


